[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Bb]uild/

UML/
[Aa]ssets/**/*.meta

*.pidb
*.csproj
*.unityproj
*.booproj
UpgradeLog*
*.dat
UpgradeLog*

*.DS_Store
*.Thumbs.db.*

*.svd
*.user
*.userprefs
*.suo
*.sln
Assets/ExcludeAssets
.vscode/